<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<!-- Esta es la ruta a tu SQL Server local -->
		<add name="ConexionBD"
			 connectionString="Server=.;Database=SistemaVentas;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>